.main{
    width: 100%;
}

.main .profile{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.main .profile .navegation-profile{
    width: 30%;
}

.main .profile .panel{
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.main .profile .navegation-profile aside{
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main .profile .navegation-profile aside ul li{
    margin: 10px 0;
}

.main .profile .navegation-profile aside ul li a{
    text-decoration: none;
    color: black;
}

.main .profile .panel .editView{
    display: none;
}

@media (max-width:1200px){
    
.main .profile{
    flex-direction: column;
}
.main .profile .panel{
    width: 100%;
}
.main .profile .navegation-profile{
    width: 100%;
}
.main .profile .navegation-profile aside{
    width: 100%;
    align-items: start;
}
}