.main{
    width: 100%;
}

.main .profile{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.main .profile .navegation-profile{
    width: 30%;
}

.main .profile .panel{
    width: 70%;
}