.purchase_content{
display: flex;
flex-wrap: wrap;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.content_left{
width: 50%;
margin: 40px;
}
.content_right{
width: 700px;
margin: 40px;

}
.content_left table{
    width: 100%;
    border: 2px solid black;
    margin-top: 10px;
}
.content_left table img{
    width: 350px;
    height: 300px;
}
.content_left h1{
    font-size: 40px;
    font-weight: bold;
}
.content_right h1{
    font-size: 40px;
    font-weight: bold;

}
.content_right label{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;

}
.contenedor_inputs input, select{
    width: 100%;
    border-radius: 5px;
    outline: none;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor_inputs p{
    font-weight: bold;
    font-size: 20px;
}
.contenedor_inputs h3{
font-size: 40px;
font-weight: bold;


}
.content_right .total{
    font-size: 35px;
    color: red;
    font-weight: bold;
}
.content-paypal-logos img{
width: 140px;
height: 80px;
margin-top: 20px;
margin-bottom: 20px;
}
.content_right .contenedor_inputs #finalizar_compra{
    background-color: black;
    color: white;
    border-radius: 40px;
    padding: 20px 100px;
    font-size: 20px;
    width: 100%;
}
.content_right .contenedor_inputs #finalizar_compra:hover{
    background-color: red;
}
