.Content-ShoppinCart{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;

    }
    .content_left{
    width:50%;
    margin: 20px;
    flex-wrap: wrap;

    }
    .content_left h1{
        font-weight: bold;
    }
    .content_right{
    width: 30%;
    margin: 40px;
    align-items: center;
    align-content: center;
    }
    .content_left .content_target_cart{
        width: 100%;
        background-color: white;
        height: 500px;
        display: flex;
        border-bottom: 1px solid rgb(210, 210, 210);
    }

    .content_left .content_target_cart .img_cart{
        width: 900px;
        height: 100%;
        justify-self: center;

    }
    .content_left .content_target_cart .img_cart .no-found{
        object-fit: cover;
        height: 500px;
    }
    .content_left .content_target_cart .content_producto_right{
        width: 100%;
        padding: 10px;
    }
    .content_left .content_target_cart img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    }
    .content_left .content_target_cart .dates_conent{
        flex-wrap: wrap;
    }

    .content_left .content_target_cart .content_producto_right{
        flex-wrap: wrap;
        justify-content: right;

    }

    .content_left .content_target_cart .content_producto_right h1{

        font-size: 30px;
        width: 100%;
        font-weight: bold;
    }
    .content_left .content_target_cart .content_producto_right p{

        font-weight: bold;
        font-size: 20px;
        width: 100%;
        font-weight: bold;
    }
    .content_left .content_target_cart .content_producto_right span{

        font-weight: lighter;
        font-size: 15px;
        width: 100%;
    }


    .content_left #tittle{
        font-size: 40px;
    }
    .content_right h1{
        font-size: 40px;
        font-weight: bold;

    }
    .content_right label{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;

    }
    .contenedor_inputs input, select{
        width: 40px;
        border-radius: 5px;
        outline: none;
        height: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 0;
    }

    .content_right h3{
    font-size: 40px;
    font-weight: bold;




    }
    .content_right .total{
        font-size: 35px;
        color: red;
    }
    .content_right  img{
        width: 100%;
        height: 800px;
        margin-top: 30px;
    }
    .content_right button{
        background-color: black;
        color: white;
        padding: 20px 100px;
        font-size: 20px;
    }
    .content_right button:hover{
        background-color: red;
    }
    .content_right #btn_ir_a_comprar{
        background-color:white;
        color: black;
        border: 5px solid black;
        font-size: 20px;
        width: 100%;
        text-decoration: none;
        text-align: center;

    }
    .content_right #btn_ir_a_comprar:hover{
        background-color: rgb(44, 255, 44);
    }
    .content_right button{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .content_right .content-total{
        display: flex;
        color: red;
        font-size: 40px;
        text-align: center;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid red;
    }
    .content_right .content-total .cop {
        margin-left: 10px;
    }


    .content_right #content_form_pagar{
        background-color: white;
        padding: 50px 20px;
        border: 0.5px solid rgb(224, 213, 213);
        width: 100%;
    }

    .carousel-productos {
        max-width: 1500px;
        width: 80%;
        margin: 40px auto;
    }

    .carousel-contenedor {
        position: relative;
    }

    .carousel-contenedor h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        color: #000;
    }

    .carousel-contenedor .target{
        margin: 30px;
        width: 200px;
        height: 350px;
        border: 1px solid rgb(233, 233, 233);
        border-radius: 5px;
        box-shadow: 0 20px 35px rgba(83, 83, 83, 0.1);
        background: #fff;
        align-items: center;
    }

    .carousel-contenedor .target .discount{
        background-color: #ffffff;
        color: #ff0000;
        font-weight: bold;
        padding: 6px;
        border-radius: 5px;
        position: absolute;
        margin: 5px;
    }

    .carousel-contenedor .target img{
        width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .carousel-contenedor a{
        text-decoration: none;
        color: #000;
    }

    .carousel-contenedor .target .target-body{
        padding: 10px;
    }

    .carousel-contenedor .target .target-body h5{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

    .carousel-contenedor .target .target-body .price{
        display: flex;
    }

    .carousel-contenedor .target .target-body .price .after span{
        color: rgb(129, 128, 128) ;
        font-weight: normal;
        text-decoration: line-through;
    }

    .carousel-contenedor .target .target-body .price p{
        font-size: 15px;
        margin: 0 10px 0 0;
    }

    .carousel-contenedor .target .target-body .price p span{
        font-size: 15px;
        color: #000;
        font-weight: bold;
    }

    .carousel-anterior,
    .carousel-siguiente {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        top: calc(50% - 35px);
        cursor: pointer;
        line-height: 30px;
        background: none;
        text-align: center;
        color: black;
    }

    .carousel-anterior:hover,
    .carousel-siguiente:hover {
        background: rgba(0, 0, 0);
        color: white;
        border-radius: 50%;
    }

    .carousel-anterior {
        left: -30px;
    }

    .carousel-siguiente {
        right: -30px;
    }
    @media (max-width:900px){
        .carousel-contenedor .target{
            margin: 17px;
        }
    }

    @media (max-width: 800px) {

        .carousel-contenedor .target{
            margin: 40px;
        }
    }

    @media (max-width: 680px) {
        .carousel-contenedor .target{
            margin: 17px;
        }
    }

    @media (max-width: 530px) {

        .carousel-contenedor .target{
            margin: 40px;
        }
    }

    @media (max-width: 300px) {
        .carousel-contenedor .target{
            margin: 10px;
        }
    }

    .content-carousel{
        width: 100%;
    }


    .content-fondo-cargando{

        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 2;
    }

    .content-fondo-cargando .content-cargando{
        position: fixed;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border: solid 1px black;
        box-shadow: 0px 0px 10px red;
        padding: 20px 20px;
        text-align: center;
        align-items: center;
        z-index: 2;
        height: 400px;
        width: 500px;
    }
    .content-fondo-cargando .content-cargando img{
        width: 100%;
        height: 100%;
    }

    @media (max-width: 850px){
        .content_left .content_target_cart{
            height: 400px;
        }
        .content-fondo-cargando .content-cargando{
            width: 80%;
            transition: 2s;}
        .content_left .content_target_cart .img_cart{
            width: 800px;

        }
        .content_left .content_target_cart .content_producto_right{
            width: 100%;
            padding: 10px;
        }
        .content_left .content_target_cart img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        }
        .content_left .content_target_cart .dates_conent{
            flex-wrap: wrap;
        }

        .content_left .content_target_cart .content_producto_right{
            flex-wrap: wrap;
        }

        .content_left .content_target_cart .content_producto_right h1{

            font-size: 15px;
            width: 100%;
            font-weight: bold;
        }
        .content_left .content_target_cart .content_producto_right p{

            font-weight: bold;
            font-size: 10px;
            width: 100%;
            font-weight: bold;
        }
        .content_left .content_target_cart .content_producto_right span{

            font-weight: lighter;
            font-size: 8px;
            width: 100%;
        }
        .Content-ShoppinCart{
            flex-wrap: wrap;
            margin-left: 20px;
            margin-right: 20px;
            }
        .content_left{
                width:100%;
                margin: 20px;
                flex-wrap: wrap;

                }
                .content_right{
                width: 100%;
                margin: 40px;
                align-items: center;
                align-content: center;
                }
                .content_left #tittle{
                    font-size: 30px;
                }
        .content_right .content-total{
            font-size: 20px;
        }
    }

    @media (max-width: 1200px){
        .content_left .content_target_cart .img_cart .no-found{
            height: 100%;
        }
        .content_left .content_target_cart .img_cart{
            width: 800px;
            height: auto;

        }
        .content_left .content_target_cart .content_producto_right{
            width: 100%;
            padding: 10px;
        }
        .content_left .content_target_cart img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        }
        .content_left .content_target_cart .dates_conent{
            flex-wrap: wrap;
        }

        .content_left .content_target_cart .content_producto_right{
            flex-wrap: wrap;
        }
        .Content-ShoppinCart{
            flex-wrap: wrap;
            margin-left: 20px;
            margin-right: 20px;
            }
        .content_left{
                width:100%;
                margin: 20px;
                flex-wrap: wrap;

                }
                .content_right{
                width: 100%;
                margin: 40px;
                align-items: center;
                align-content: center;
                }

    }
